@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Protest+Guerrilla&family=Tiny5&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: instrument sans , sans-serif;
}
nav{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding:18px 140px;
}
button {
    color: #006A50;
    background-color: white;
    border-radius: 6px;
    padding : 12px 24px;
}
#hero-section {
    background-color: #C6E4D6;
    margin: 0 140px;
    border-radius: 20px;
    padding: 60px ;
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 73px 90px ;
    

}
.hero-section-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    
}
.hero-section-title{
    color: #0E0E0E;
    opacity: 50%;
    font-size: 20px;
    height: auto;
    font-size: medium;
    font-weight: bold;

}
.hero-section-heading{
    color: #0E0E0E;
    font-size: bold;


}
.btn {
    padding: 12px 24px;
    background: #006A50;
    color: white;
    border: none;
    border-radius: 6px;
}
.btn-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
